<div class="newFile" *ngIf="this.esAutor">
  <button type="button" class="btn btn-success" (click)="this.router.navigate(['edit/'+this.id]);"><i class="fas fa-pencil-alt"></i> Editar</button>
  <p></p><button type="button" class="btn btn-success" (click)="this.router.navigate(['addparticipant/'+this.id]);"><i class="fas fa-user-plus"></i> Añadir Participante</button>
</div>
<div class="newFile" *ngIf="!this.esAutor">
  <button type="button" class="btn btn-danger" (click)="this.router.navigate(['comprar/'+this.id]);"><i class="fas fa-shopping-cart"></i> Comprar</button>
</div>
<div class="docu">
  <div class="cgrid">
  <div class="row">
    <div class="col"><h3>{{document.title}}</h3></div>
  </div>
  <div class="row">
      <div class="col">{{document.body}}</div>
  </div>
  <div class="row">
    <div class="col"><i class="fas fa-user-edit"></i> Creado por {{document.creator.username}}</div>
    <div class="col"><i class="fas fa-thumbs-up"></i> Votos: {{document.meta.votes}}</div>
    <div class="col"><i class="fas fa-heart"></i> Favoritos: {{document.meta.favs}}</div>
  </div>
  </div>
</div>
