.docu{
  padding-top: 5%;
  padding-left: 35%;
  width: 75%;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
}
.row{
  padding: 10%;
}
.cgrid{
    background: linear-gradient(#ecf3ff,#ffffff);
    box-shadow: 10px 10px 173px -125px  black;
    border-radius: 25px;
}
