<div class="registro">
  <form action="/">
 <div class="form-group">
   <label for="email">Nombre de usuario:</label>
   <input type="email" class="form-control" placeholder="Escribe el nombre de usuario" id="user">
 </div>
 <div class="form-group">
   <label for="email">Correo electrónico:</label>
   <input type="email" class="form-control" placeholder="Escribe tu correo electrónico" id="email">
 </div>
 <div class="form-group">
   <label for="pwd">Contraseña:</label>
   <input type="password" class="form-control" placeholder="Escribe tu contraseña" id="pwd">
 </div>
 <div class="form-group">
   <label for="pwd">Repite la contraseña:</label>
   <input type="password" class="form-control" placeholder="Vuelve a escribir tu contraseña" id="repwd">
 </div>
 <button type="submit" class="btn btn-primary">Registro</button>
</form>
</div>
