.llistat{
  padding-left: 25%;
  width: 75%;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

a{
  box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
  text-decoration: none;
	color:#666666;
	padding:6px 24px;
  width: 75%;
	text-shadow:0px 1px 0px #ffffff;
}

a:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}

a:active {
	position:relative;
	top:1px;
}

ul{
  list-style: none;
}
