<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<div class="main_menu">
  <div class="logo">
      <img src="assets/logo1.png" width="75%" height="75%">
  </div>
  <div class="menu">
    <a routerLink="/" class="active">Inicio</a>
    <a routerLink="/login">Login</a>
    <a routerLink="/registro">Registro</a>
    <a routerLink="/nosotros">Sobre nosotros</a>
  </div>
</div>

<router-outlet></router-outlet>
